$accent-color: #7374E4;
$secondary-color: #864B9C;

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0em;
  * {
    font-family: 'Roboto', sans-serif;
  }
  color: white;
  background: linear-gradient($accent-color, $secondary-color);
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  height: 100%;
}

header {
  align-self: center;
  font-weight: 600;
  font-size: 1.5em;
  margin: 1em;
  cursor: pointer;
  span {
    margin-left: 1em;
    font-weight: lighter;
    font-size: 0.5em;
    letter-spacing: 0.2em;
    opacity: 0.5;
    text-transform: uppercase;
    transition: all 0.25s;
  }
  &:hover {
    span {
      opacity: 1;
    }
  }

}

.main-component {
  display: flex;
  flex-direction: column;
  flex: 1;
}

footer {
  display: flex;
  justify-content: center;
  background: white;
  filter: drop-shadow(0px 0px 5px black);
}

.menu-item {
  padding: 0.75em 1em;
  transition: all 0.25s;
  cursor: pointer;
  svg {
    fill: $secondary-color;
  }
  &:hover {
    background: $secondary-color;
    svg {
      fill: white;
    }
  }
  &.active {
    color: $secondary-color;
    &:hover {
      color: white;
    }
  }
  color: transparentize($secondary-color, 0.5);
}

.input-group {
  label {
    text-transform: uppercase;
    display: block;
    font-size: 0.65em;
    font-weight: 500;
    opacity: 0.5;
  }
  input {
    background: transparent;
    border-width: 0px 0px 1px 0px;
    color: white;
    border-color: rgba(255, 255, 255, 0.5);
    transition: border-color 0.25s;
    &:focus {
      border-color: white;
      outline-color: transparent;
    }
  }
}

section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-self: stretch;
  overflow: auto;
}

hr {
  margin: 3em 0em;
}

.networks-config-component {
  .networks-list {
    display: flex;
    flex-direction: column;
    .network-component {
      cursor: pointer;
      padding: .75em;
      min-width: 300px;
      margin: 0.25em;
      &:hover{
        background: rgba(255, 255, 255, 0.35);
      }
      transition: all .25s;
      background: rgba(255, 255, 255, 0.25);
      .network-info{
        display: flex;
        svg{
          fill: white;
        }
        > div {
          padding: 0em 0.5em;
        }
      }
      .network-actions{
        > div{
          margin-top: 0.5em;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
      .network-status{
        font-size: .75em;
        opacity: .5;
      }
    }
  }
}

.bamboo-config-component {

}

button {
  padding: 0.6em 0.75em;
  border: none;
  background: white;
  text-transform: uppercase;
  font-weight: bold;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
  transition: all 0.25s;
  &:hover {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.75));
  }
  cursor: pointer;
}

.alarm-config-item-component {
  display: flex;
  padding: 1.5em;
  align-items: center;
  cursor: pointer;
  > i {
    display: flex;
    svg{
      fill: white;
    }
    font-size: 3em;
    &.enabled {
      opacity: 1;
    }
    &.disabled {
      opacity: 0.6
    }
  }
  > label {
    cursor: pointer;
    text-transform: uppercase;
    opacity: 0.6;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 0.75em;
    display: block;
    transition: opacity 0.25s;
  }
  &:hover {
    > label {
      opacity: 1;
    }
  }
}

.alarm-config-component {
}


body select { 
  display: block; 
  width: 100%;
  padding: 10px 70px 10px 13px !important; 
  border: 1px solid #e3e3e3;
  background-color: #fff;
  color: #444444; 
  font-size: 0.75em; 
  appearance: none; /* this is must */ 
} 

